<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADI Labs</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">-->

  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
</head>

<body>
<div id='cssmenu'>
<div id='menutitle'>
  ADI Labs
</div>
<ul>
  <li class='active'><a href='#'><span>Home</span></a></li>
  <li><a href='#about'><span>About</span></a></li>
  <li><a href='#what'><span>What We Offer</span></a></li>
  <li><a href='#projects'><span>Projects</span></a></li>
  <li><a href='#join'><span>Join a Team</span></a></li>
  <li class='last'><a href='#faq'><span>FAQ</span></a></li>
</ul>
</div>

<div class="banner">
  Challenge us and we will build it. <br>
  <span class="bannertext"> ADI Labs is ... (short description here that takes up one line about this length)</span>

  <form>
    <span><input type="text" class="borders" placeholder="Let us know what you want to see us to build...!"></span>
  </form>

  <div class="next">
    <a href='#about'>v</a>
  </div>
</div>

<a name="about" id="about"></a>
<div class="panel1">
  <h1>About</h1>
  <div class="aboutwrapper">
    <div class="about">
      <p>ADI Labs is your opportunity to learn everything you can’t learn in class, from software engineering to UI/UX design to product management. At ADI Labs, you will build real projects like Density by ADI that you will ship. Along the way you’ll receive personalized mentorship from peers that have worked at Google, Facebook, Microsoft, LinkedIn, Coursera, and others. You’ll also join an awesome community of builders that love to bring ideas to life as well as have a good time doing so.</p>
      <p>As a member of Labs, you’ll learn to contribute to open source projects and to take your programming beyond problem sets. Paired with one of our student mentors, you’ll learn software engineering techniques used in industry.</p>
      <!--<p>We meet every week for 4 hours to work on projects that we plan to release at the end of the semester. Each project receives a mentor that helps the team achieve what they want to achieve.</p>-->
    </div>

    <div class="aboutpic">
      <img src="../static/img/density.png" width="100%">
    </div>
  </div>
</div>

<a name="what" id="what"></a>
<div class="panel2">
  
  <h1>What We Offer</h1>

  <div class="wrapper">
    <div class = "slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Mentorship</h2>
      <p>Mentors to push you to learn and give you the best resources out there for the problem you are trying to solve.</p>
    </div>
    
    <div class = "slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Learning by doing</h2>
      <p>We believe that the best way to really learn to build something is to, as Nike says, just do it.</p>
    </div>

    <div class = "slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Community</h2>
      <p>ADI Labs is a community of motivated individuals here to learn how to build the next Google build new friendships.</p>
    </div>

  </div>
</div>

<a name="projects" id="projects"></a>
<<div class="panel1">
  <h1>Projects</h1>

  <div class="wrapper">

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>

    <div class="project">
      <div class="overlay">
        <span class="plus">+</span>
      </div>   
    </div>



  </div>
</div>

<a name="join" id="join"></a>
<div class="panel2">
  <h1>Join a Team!</h1>

  <div class="wrapper">
    <div class="slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Developers</h2>
      <p>We are looking for people who are comfortable with the basics of programming. If you have not yet taken a programming course or have never programmed before, we recommend that you check out the <a href="https://adicu.com/resources">other resources</a> ADI has to offer first before applying to Labs. </p>
    </div>

    <div class="slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Designers</h2>
      <p>If you’re interested in designing beautiful products and user experiences, ADI Labs is the perfect place for you. Bonus points for knowing how implement your designs in code!</p>
    </div>

    <div class="slide">
      <img src="../static/img/star.png" width="100px">
      <h2>Product Managers</h2>
      <p>If you’ve ever been interested in what it means to actually manage a product, this is the perfect role for you. Product managers work with the developers to figure out what to build and figure out how to build the best product.</p>
    </div>
  </div>
  
  <div class="apply">
    <button type="Submit" class="btn"><a href="http://bit.ly/adi-labs-app" class="button" target="_blank">Apply Now!</a></button>
  </div>
</div>

<div class="panel1">
<h1>Inset some text here</h1>
</div>

<a name="faq" id="faq"></a>
<div class="panel2">
  <h1>FAQ</h1>

  <div class="wrapper">
    <div class="question">
      <h4>Am I qualified enough to be a part of ADI Labs?</h4>
      <p>If you’re planning on writing code during ADI Labs, you should be good if you’ve taken 1004, 1006 or 1007. Alternatively, if you have some programming experience from outside class, that should work too. If you’re proficient in a language like Java, Python, JavaScript or Objective-C, you should be fine. We will try to put you on a project that matches your skill level.</p>
    </div>

    <div class="question">
      <h4>Is ADI Labs the same as ADI Committee?</h4>
      <p>Nope. ADI Labs is separate from ADI Committee but there are a ton of folks in both. Labs is hosted by ADI and its organizers are on the Committee. Labs is about you learning and building cool stuff whereas Committee organizes events for the student community. If you’re interested in joining Committee, sign up for the ADI Newsletter on adicu.com.</p>
    </div>

    <div class="question">
      <h4>When does ADI Labs meet?</h4>
      <p>Every Friday from 1-5 pm.</p>
    </div>

    <div class="question">
      <h4>Where is Labs located?</h4>
      <p>In the basement of the SIC House located at 619 West 113th Street. You’ll need to be a CC or SEAS undergrad to access it. If you’re a Barnard, GS or graduate student, let us know and we’ll make provisions to sign you in.</p>
    </div>

    <div class="question">
      <h4>I want to work on my own project. Can I do that?</h4>
      <p>Yes! ADI Labs is structured to help you achieve your goals and finish a real project. If you already have one in mind, let us know what your idea is in the application. Make sure to flesh out your idea and how you can accomplish it; the more detail the better! However, it is not guaranteed you will get to work on the project you propose.</p>
    </div>

    <div class="question">
      <h4>I don’t program, but I’m interested in design, product management or marketing. Can I also get involved?</h4>
      <p>Yes! When you apply, just indicate in which roles you’d see yourself. We’ll work with you to place you on a team where you can be most effective!</p>
    </div>

    <div class="question">
      <h4>How much of a time commitment is Labs?</h4>
      <p>Labs is a serious time commitment, like taking an additional class. We expect members to spend 4 hours on Fridays working together in groups, but this is the bare minimum. To get the most out of Labs, you should put in time outside allotted hours working.</p>
    </div>

    <div class="question">
      <h4>I don’t have time to join Labs this semester. When can I join next?</h4>
      <p>That’s alright. ADI Labs holds applications on a semesterly basis. To stay up to date, you can sign up for the ADI Newsletter at adicu.com.</p>
    </div>
  </div>
</div>

<div class="infopanel">
  <div class="info">
    <h3>More Questions?</h3>
  </div>

  <div class="social">
    <a href="https://www.youtube.com/channel/UC6JJMTy3pXJWX_bykS53NVQ"><img src="../static/img/youtube.png" width="50px"></a>
  </div>

  <div class="social">
    <a href="https://github.com/adicu"><img src="../static/img/github.png" width="50px"></a>
  </div>

  <div class="social">
    <a href="https://twitter.com/adicu"><img src="../static/img/twitter.png" width="50px"></a>
  </div>

  <div class="social">
    <a href="https://www.facebook.com/ADICU/"><img src="../static/img/facebook.png" width="50px"></a>
  </div>


</div>

  <!--<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>-->
  <script>
    $(document).foundation();
  </script>
</body>
</html>